/* app.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/* Optional: remove selection highlight */
*::selection {
  background: #facc15; 
  color: #000;
}
